# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static_root/

# Environment
.env
.env.*

# Virtualenvs
venv/
ENV/
env/
.venv/

# PyInstaller build artifacts (keep .exe, ignore build folders)
build/
dist/
*.spec

# Keep only this one manually exported .exe
!Web3TrustGuardInstaller.exe

# Inno Setup temp files
*.iss~
Output/

# macOS and Windows junk
.DS_Store
Thumbs.db
desktop.ini
